.certificate {
	position: relative;
	margin: 0 auto;
	margin-top: 110px;
	max-width: 1228px;
	padding: 20px;
	background-color: var(--bg-dark);
	color: var(--text-invert);
}

.certificate::after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50%;
	height: 50%;
	background-image: image-set(
		url('../img/gift certificate.png') 1x,
		url('../img/gift certificate@2x.png') 2x,
		url('../img/gift certificate@3x.png') 3x
	);
	background-image: url('../img/gift certificate.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: contain;
	z-index: 0;
	pointer-events: none;
}

.certificate__heading {
	position: relative;
	margin: 0;
	margin-bottom: 16px;
	z-index: 1;

	font-family: var(--font-heading);
	font-weight: 400;
	font-size: 42px;
	line-height: 52px;
	color: var(--text-invert);
}

.certificate__description {
	position: relative;
	margin: 0;
	margin-bottom: 20px;
	z-index: 1;

	font-family: var(--font-main);
	font-weight: 400;
	font-size: 14px;
	color: var(--text-invert);
}

.certificate__button {
	position: relative;
	padding: 8px 15px;
	z-index: 1;
}

@media (min-width: 768px) {
	.certificate {
		padding: 40px;
	}

	.certificate::after {
		right: 0;
		top: 50%;
		bottom: auto;
		width: 50%;
		height: auto;
		transform: translateY(-50%);
		background-position: right center;
	}
}
