.main-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding-block: 18px;

	font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.main-menu__list {
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
	gap: 16px;
  width: 100%;
  max-width: 673px;
  
}

.main-menu__link {
	padding: 4px 8px;
	color: var(--text-main);
	
}
.main-menu__link span {
  font-variant-numeric: lining-nums;}

.main-menu__link--folder {
	padding-right: 28px;
	background-image: url(../img/chevron-down.svg);
	background-repeat: no-repeat;
	background-position: center right;
}
